prefix = "your-prefix"

aws_region = "us-west-1"
aws_availability_zone = "us-west-1a"
# aws_region = "us-west-2"
# aws_availability_zone = "us-west-2a"
# aws_region = "eu-central-1"
# aws_availability_zone = "eu-central-1a"
# aws_region = "eu-central-2" # Zurich
# aws_availability_zone = "eu-central-2a" # Zurich

tag_source_git = "terraform-f5xc-smsv2-aws"
tag_owner = "your-email"
tag_source_host = "your-host"


####################################
# Docker host

docker-instance-type = "t3.medium"
docker-storage-size  = 30
docker-node-user = "adminuser"
docker-pub-key = "your-machines-ssh-public-key"


####################################
# F5XC CE

f5xc-sms-instance-type = "m5.2xlarge"
f5xc-sms-storage-size  = 80
ce-node-user           = "volterra-admin"


####################################
# XC

xc_tenant = "your-tenant"
xc_namespace = "your-namespace"
xc_origin_ip1 = "10.0.2.5"
xc_pub_app_port = "8080"
xc_pub_app_no_tls = "true"
xc_app_domain = "your-app-fqdn"
